body {
    padding: 15px;
  }
  
  .-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  
  .-justify-center, .-center-center {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .-bg-white {
    background-color: #ffffff;
  }
  
  .-bold {
    font-weight: bold;
  }
  
  .-full-width {
    width: 100%;
  }
  
  .-full-height {
    height: 100%;
  }
  
  .-layout-h {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
  }
  
  .-layout-h-reverse {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  }
  
  .whole-line {
      margin: 24px 0 24px 16px;
      height: 12px;
      background-color: #F5F6F7;
      border-radius: 6px;
      position: relative;
  }
  
  .complete-line {
      background: linear-gradient(to right, #94BFFF 0%, #2FFABD 100%);
      border-radius: 6px;
      position: absolute;
      -webkit-transition: width 0.1s;
      transition: width 0.1s;
  }
  
  .line-divisions {
      position: absolute;
      -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  }
  
  .single-line-division {
      width: 3px;
      background-color: #FFFFFF;
      z-index: 1;
  }
  
  .check-mark {
      width: 36px;
      min-width: 36px;
      height: 36px;
      min-height: 36px;
      border-radius: 50%;
      margin-right: -18px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      z-index: 2;
      font-size: 14px;
  }
  