.beta-request{
    max-width: 500px;
}
.header{
    text-align: center;
    background:rgba(68, 191, 163, 1);
}
.body{
    padding-top: 10px;
}
.title{
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}
.subtitle{
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
.group{
    text-align: center;
}
.field{
    margin: 10px;
    height: 38px;
    min-width: 90%;
    background-color: rgba(245, 246, 247, 1);
    color: rgba(153, 153, 153, 1);
    border: 1px solid #bbb;
    font-size: 16px;
}
.button{
    display: block;
    height: 45px;
    margin: auto;
    text-transform: uppercase;
    background-color: rgba(52, 152, 219, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
@media screen and (min-width: 500px){
    .field{
        min-width: initial;
    }
}